body {
  margin: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  background: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxWhite {
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
}

.class-red {
  color: red;
  display: flex;
  justify-content: space-between;
  max-width: 590px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.class-green {
  color: green;
  display: flex;
  justify-content: space-between;
  max-width: 590px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.class-blue {
  color: blue;
  display: flex;
  justify-content: space-between;
  max-width: 590px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#sliderRed,
#sliderGreen,
#sliderBlue {
  -webkit-appearance: none;
  width: 250px;
  height: 6px;
  outline: none;
  border-radius: 10px;
}

#sliderRed {
  background-color: red;
}

#sliderGreen {
  background-color: green;
}
#sliderBlue {
  background-color: blue;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: #9f9ea1e7;
  cursor: pointer;
}

.class-red p,
.class-green p,
.class-blue p {
  width: 130px;
  font-size: 20px;
}

.class-red #input-red,
.class-green #input-green,
.class-blue #input-blue {
  width: 25px;
  cursor: initial;
  background-color: #9f9ea1e7;
  color: black;
  border: 2px solid rgb(150, 138, 138);
  border-radius: 6px;
}

.boxRGB {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  padding-right: 10px;
  align-self: center;
}

p {
  font-weight: 1000;
  font-family: "Courier New", Courier, monospace;
  margin-block-start: 22px;
  margin-bottom: 25px;
}
